.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111f3a;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-contain{
  background-color: #111f3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-contain{
  background-color: #111f3a;
  min-height: 92vh;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}
.multibox {
  border: 3px double #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 343px;
  max-width: 150px;
  min-height: 310px;
  max-height: 150px;
  align-content: stretch;
}

.multibox .box {
  flex-basis: 33.3%;
}
.multibox .box.green {
  background: green;
}
.multibox .box.img_1 {
 background-image: url('./images/9.png')
}
.multibox .box.img_2 {
 background-image: url('./images/2.png')
}
.multibox .box.img_3 {
 background-image: url('./images/3.png')
}
.multibox .box.img_4 {
 background-image: url('./images/4.png')
}
.multibox .box.img_5 {
 background-image: url('./images/5.png')
}
.multibox .box.img_6 {
 background-image: url('./images/6.png')
}
.multibox .box.img_7 {
 background-image: url('./images/7.png')
}
.multibox .box.img_8 {
 background-image: url('./images/8.png')
}
.multibox .box.orange {
 background: orange;
}
.multibox .box.blue {
 background: blue;
}
.multibox .box.red {
 background: red;
}
.multibox .box.brown {
 background: brown;
}
.multibox .box.grey {
 background: grey;
}
.multibox .box.skyblue {
 background: skyblue;
}